node_modules/
.tamagui/
.gradle/
.expo/
build/
dist/
web-build/
/android/
/ios/

*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

*.aab
*.apk

*.log
.vscode/
.env
.env*.local
.*-version*
*.tsbuildinfo
expo-env.d.ts
.metro-health-check*
.DS_Store
.vercel
