auto-install-peers = false
ignore-workspace-root-check = true
include-workspace-root = true
public-hoist-pattern[] = @babel/runtime
public-hoist-pattern[] = @react-native/assets-registry
public-hoist-pattern[] = @sentry/cli
public-hoist-pattern[] = expo-asset
public-hoist-pattern[] = expo-modules-autolinking
public-hoist-pattern[] = react-native-web
