cache/
docs/
out/

/broadcast/*
/broadcast/*/31337/
/broadcast/**/dry-run/
!/broadcast/Deploy.s.sol
/broadcast/Deploy.s.sol/*/*
!/broadcast/Deploy.s.sol/*/run-latest.json
!/broadcast/ExaPreviewer.s.sol
/broadcast/ExaPreviewer.s.sol/*/*
!/broadcast/ExaPreviewer.s.sol/*/run-latest.json
!/broadcast/IssuerChecker.s.sol
/broadcast/IssuerChecker.s.sol/*/*
!/broadcast/IssuerChecker.s.sol/*/run-latest.json
!/broadcast/Mocks.s.sol
/broadcast/Mocks.s.sol/*/*
!/broadcast/Mocks.s.sol/*/run-latest.json
!/broadcast/ProposalManager.s.sol
/broadcast/ProposalManager.s.sol/*/*
!/broadcast/ProposalManager.s.sol/*/run-latest.json
!/broadcast/Refunder.s.sol
/broadcast/Refunder.s.sol/*/*
!/broadcast/Refunder.s.sol/*/run-latest.json

.env
lcov.info
